body{
    background-image: url("https://www.youtube.com/watch?v=W4PM9ZEP19A");
    background-size: cover;
	background-color: #444;
}
.darkBG{
    text-align:center;
    background:transparent;
}

nav{
    background-color: black;
}

.navbar {
    background-color: black;
}

.footerInfo{
    color: white;
}

.nav-item-left{
    text-align:float-right;
}

/* .nav-item-center{
    text-align:center;
}

.nav-item-right{
    text-align:right;
} */

.row{
    color: white;
    text-shadow: -1px 1px 0 #000,
				  1px 1px 0 #000,
				 1px -1px 0 #000,
				-1px -1px 0 #000;
}
#launch{
    position: static;
    z-index: 1;
}
.footer{
    text-align: bottom;
}

#aboutTitle{
    text-align: center;
    color: white;
    text-shadow: -1px 1px 0 #000,
				  1px 1px 0 #000,
				 1px -1px 0 #000,
				-1px -1px 0 #000;
}

.about{
    text-align: center;
    padding: 10px;
    text-shadow: -1px 1px 0 #000,
				  1px 1px 0 #000,
				 1px -1px 0 #000,
				-1px -1px 0 #000;
}

#contactTitle{
    color: white;
    text-shadow: -1px 1px 0 #000,
				  1px 1px 0 #000,
				 1px -1px 0 #000,
				-1px -1px 0 #000;
}

.contact{
    padding:10px;
}
 
#portfolioTitle{
    color: white;
    text-shadow: -1px 1px 0 #000,
				  1px 1px 0 #000,
				 1px -1px 0 #000,
				-1px -1px 0 #000;
}

.portfolio{
    padding:10px;
}

 
 
 
 
 
 
 
 